.bg-dark {
    background-color: #c34141 !important;
}

button.letter.btn.btn-outline-info {
    width: 5rem;
    height: 5rem;
    font-size: 29px;
}

.letters-container{
	text-align: center;
}

.letters-blocks {
    margin-bottom: 20px;
}

.btn-outline-info:hover {
    color: #1a6975;
    background-color: inherit;
    border-color: #17a2b8;
}

span.timer.navbar-text {
    margin-right: 60px;
}